# MongoDB Atlas Connection URI (Atlas -> Database -> Connect -> Drivers)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.5rcip6z.mongodb.net/portfolio_db?retryWrites=true&w=majority
PORT=5000

# Cloudinary Media Storage (Free image CDN)
VITE_CLOUDINARY_CLOUD_NAME=ddbp3fmq
VITE_CLOUDINARY_UPLOAD_PRESET=portfolio_preset

# Firebase Authentication (Google Sign-In & Admin Auth)
VITE_FIREBASE_API_KEY=AIzaSyDXabGvwSKRqEFnZVHaKlARYDzlQWHgo2M
VITE_FIREBASE_AUTH_DOMAIN=protfolio-35616.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=protfolio-35616
VITE_FIREBASE_STORAGE_BUCKET=protfolio-35616.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=276029380293
VITE_FIREBASE_APP_ID=1:276029380293:web:d768ed06ce9d6222e242ac
VITE_FIREBASE_MEASUREMENT_ID=G-E3RS5S74SJ

# Admin Login Demo Credentials (fallback if offline)
VITE_DEMO_ADMIN_EMAIL=admin@portfolio.com
VITE_DEMO_ADMIN_PASSWORD=admin123
